# GENERAL
version=1.0

# AMF
amf.host=localhost
amf.port=8000
amf.service=acidswf
amf.transport=http
amf.url=${amf.transport}://${amf.host}:${amf.port}

# RTMP
rtmp.host=${amf.host}
rtmp.port=1935
rtmp.protocol=rtmp
rtmp.app=acidswf
rtmp.url=${rtmp.protocol}://${rtmp.host}:${rtmp.port}/${rtmp.app}
